<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap" rel="stylesheet">
    <title>Add player</title>
</head>
<body>
<br><br>
<div class="container">
    <h1>Добаление игрока</h1>
    <form method="post" autocomplete="off" th:action="@{/add}" th:object="${player}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="имя" th:field="*{name}" id="name">
                </td>
                <td>
                    <input type="text" placeholder="фамилия" th:field="*{surname}" id="surname">
                </td>
                <td>
                    <select class="form-control" th:field="*{gender}" id="gender">
                        <option value=" ">--Пол игрока--</option>
                        <option value="мужской">муж.</option>
                        <option value="женский">жен.</option>
                    </select>
                </td>
                <td>
                    <input type="date" value="1990-01-01" min="1950-01-01" max="2010-12-31" th:field="*{dateOfBirth}" id="dateOfBirth">
                </td>
                <td>
                    <input type="text" placeholder="команда" list="teams" th:field="*{team}" id="team">
                    <datalist id="teams">
                        <div th:each="team : ${teams}">
                            <option th:text="${team}">team</option>
                        </div>>
                    </datalist>
                </td>
                <td>
                    <select class="form-control" th:field="*{country}" id="country">
                        <option value=" ">--Страна--</option>
                        <option value="Россия">Россия</option>
                        <option value="США">США</option>
                        <option value="Италия">Италия</option>
                    </select>
                </td>
                <td>
                    <input type="submit" placeholder="save" value="Добавить">
                </td>
            </tr>
        </table>
    </form>
</div> <br><br><br><br>

<h1>Список всех игроков можно посмотреть тут:</h1>
<font size="6">
    <a class="menu-link" href="/all">Все игроки</a>
</font>
</body>
</html>