<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap" rel="stylesheet">
    <title>Players</title>
</head>
<body>
<h1>Список игроков</h1>
<div th:each="player : ${players}" style="display: flex; gap: 20px; align-items: center;">
    <p th:text="${player.toString()}"></p>
    <a th:href="@{update/{id}(id=${player.id})}">Редактировать</a>
</div> <br><br><br><br>

<span style="font-size: x-large; ">
    <a href="/add">Добавить нового игрока</a>
</span>
</body>
</html>